/* scienze matematiche, fisiche e informatiche  */
.smfi { background-color: #3141BB; color: white; }
/* ingegneria e architettura */
.ia { background-color: #1F1F1E; color: white; }
/* scienze degli alimenti e del farmaco */
.saf { background-color: #E23D84; color: #1F1F1E; }
/* medicina e chirurgia */
.mc { background-color: #E83030; color: #1F1F1E; }
/* scienze economiche e aziendali */
.sea { background-color: #FDE547; color: #1F1F1E; }
/* scienze medico-veterinarie */
.sme{ background-color: #AD6786; color: #1F1F1E; }
