:root {
    --clr-primary:      #00ADB5;
    --clr-bg:           rgb(0,173,181);
    --clr-gradient-bg:  linear-gradient(90deg, rgba(0,173,181,1) 0%, rgba(0,182,232,1) 66%, rgba(0,182,232,1) 100%); 
    --clr-secondary:    #DDF8DD;
    --clr-h1-primary:   #F5F5F5;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F5F5F5;
    color: white !important;
}

header {
    /* background-color: var(--clr-primary); */
    height: 8vh;
}

.title-logo img {
    /* padding-left: 10px;
    padding-top: 8px; */
    width: 20%;
    height: auto;
}

.menu {
    display: inline-flex;
    padding-top: 10px;
}
.menu li {
    padding-left: 20px;
    padding-right: 20px;
}
.menu li a {
    text-decoration: none;
}
.menu li::marker {
    visibility: hidden;
}
.btn-outline-success {
    height: 25px;
    width: 20px;
    border-radius: 50%;
}
.set-rounded {
    border-radius: 40px;
    background: var( --clr-bg );
    background: var( --clr-gradient-bg );
    /* background-color: var( --clr-primary ); */
    width: 70vw;
}

.img-parallax {
    background-color: black;
    height: 90vh;
}

.fix-img {
    margin-top: -10vh;
    height: auto;
    width: 100vw;
}